.section{
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}

.contentMargin{
    margin: 80px 20px 70px 20px;

}

.marginPage{
    margin: 20px 20px;
}