<form class="form-control p-4">
    <div class="mb-3">
        <label for="emal" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="query" class="form-label">Query</label>
        <textarea class="form-control" id="query" rows="3" placeholder="Enter Your Query"></textarea>
    </div>
    <div class="col-auto">
        <span onclick="{{ 'section'| load(title='Contact', target_id='window', template='contact.html', args={}, reload=[]) }}"
            class="btn btn-primary mb-3">Confirm identity</span>
    </div>
</form>